---
import Layout from '../../layouts/base-layout.astro'
import { cxs, title } from '../../consts/config'
import { getCollection } from 'astro:content'
import { getTagsByCount } from '../../utils/get-posts'
import { noDrafts } from '../../utils/filter'

const cx = {
  div: `${cxs.prose} mb-8`,
}

const allPosts = await getCollection('posts', noDrafts)
const sortedData = getTagsByCount(allPosts)
---

<Layout title={`${title} - Posts by tag`} permalink="/t">
  <div class={cx.div}>
    <h2>Posts by tag</h2>
    <ul>
      {
        sortedData.map(({ key, count }) => (
          <li>
            <a href={`/t/${key}`}>{key}</a>
            {count} {count === 1 ? 'post' : 'posts'}
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
