---
import Layout from '../../layouts/base-layout.astro'
import { cxs, title } from '../../consts/config'
import { getDomainsByCount } from '../../utils/get-posts'
import { noDrafts } from '../../utils/filter'

const cx = {
  div: `${cxs.prose} mb-8`,
}

let allPosts = await Astro.glob('../p/*.md')
allPosts = allPosts.filter(noDrafts)
const sortedData = getDomainsByCount(allPosts)
---

<Layout title={`${title} - Posts by domain`} permalink="/d">
  <div class={cx.div}>
    <h2>Posts by domain</h2>
    <ul>
      {
        sortedData.map(({ key, count }) => (
          <li>
            <a href={`/d/${key}`}>{key}</a>
            {count} posts
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
