---
import Body from "./body.astro";
import Cover from "./cover.astro";
import Details from "./details.astro";
import Tags from "./tags.astro";
import Title from "./title.astro";

const cx = {
	article: "h-entry cv-auto mb-12",
};

const {
	cover,
	coverAlt,
	date,
	link,
	tags = [],
	title,
	slug,
	url,
} = Astro.props;
---

<article tabindex="-1" class={cx.article}>
  <Title title={title} link={link ? link : url} isExternal={!!link} />
  <Details link={link} date={date} />
  {cover && coverAlt && <Cover cover={cover} coverAlt={coverAlt} />}
  <Body>
    <slot />
  </Body>
  <Tags slug={slug} url={url} tags={tags} title={title} />
</article>
