---
import Details from './details.astro'
import Body from './body.astro'
import Cover from './cover.astro'
import Tags from './tags.astro'
import Title from './title.astro'

export interface Props {
  cover?: string
  date: string
  link?: string
  tags?: string[]
  title: string
  url: string
}

const cx = {
  article:
    'pb-8 mb-8 border-solid border-b cv-auto border-black/10 dark:border-white/25',
}

const { cover, date, link, tags = [], title, url } = Astro.props
---

<article class={cx.article}>
  {cover && <Cover cover={cover} title={title} />}
  <Title title={title} link={link ? link : url} isExternal={!!link} />
  <Details link={link} date={date} />
  <Body>
    <slot />
  </Body>
  <Tags url={url} tags={tags} title={title} />
</article>
