---
const cx = {
  footer: 'text-center leading-normal',
  p: 'my-4',
  a: 'text-cerulean-700 dark:text-cerulean-500 no-underline hover:underline',
}
---
<footer class={cx.footer}>
  <p class={cx.p}>
    a blog by
    <a class={cx.a} href='https://melaniekat.com' rel='me'>melanie kat</a> &lt;3
  </p>
  <p class={cx.p}>
    illustration by
    <a class={cx.a} href='https://www.savinaxu.com'>
      savina xu
    </a>
  </p>
</footer>
