---
import Icon from "@/src/components/icon.astro";
import Search from "@/src/components/search.astro";
import Slashes from "@/src/components/slashes.astro";
import { cxs } from "@/src/consts/config";

export interface Props {
	showSearch?: boolean;
}

const cx = {
	footer: "w-full my-12",
	p: "text-center",
	search: "max-w-md mx-auto mb-12",
};

const { showSearch = true } = Astro.props;
---

<footer class={cx.footer} role="contentinfo">
  {
    showSearch && (
      <div class={cx.search}>
        <Search />
      </div>
    )
  }
	<Slashes />
  <div class="flex flex-col md:flex-row justify-between gap-5">
    <p class={`${cx.p} md:text-left`}>
      {'browse by '}
      <a class={cxs.a} href="/d">links</a>,
      <a class={cxs.a} href="/t">tags</a>
      <br />
      subscribe with
      <a class={cxs.a} href="/rss.xml">rss</a>,
      <a class={cxs.a} href="/feed.json">jsonfeed</a>
    </p>
    <p class={`${cx.p} md:text-right`}>
      a blog by
      <a class={cxs.a} href="https://melaniekat.com" rel="me">melanie kat</a>
      <Icon type="like" appendClass="inline align-text-bottom *:stroke-cerulean-500" />
      <br />
      <a class={cxs.a} href="https://nyan.lol/@zicklepop" rel="me">
        @zicklepop@nyan.lol
      </a>
    </p>
  </div>
</footer>
