---
import Search from "../components/search.astro";
import { cxs } from "../consts/config";

export interface Props {
	showSearch?: boolean;
}

const cx = {
	footer: "w-full mb-5",
	p: "text-center",
	search: "max-w-md mx-auto",
};

const { showSearch = true } = Astro.props;
---

<footer class={cx.footer} role="contentinfo">
  {
    showSearch && (
      <div class={cx.search}>
        <Search />
      </div>
    )
  }
  <div class="flex flex-col md:flex-row justify-between gap-5">
    <p class={`${cx.p} md:text-left`}>
      {'browse by '}
      <a class={cxs.a} href="/d">links</a>{' or '}
      <a class={cxs.a} href="/t">tags</a>
      <br />
      subscribe to the
      <a class={cxs.a} href="/rss.xml">rss</a>
      {' or '}
      <a class={cxs.a} href="/feed.json">json</a>
      feed
    </p>
    <p class={`${cx.p} md:text-right`}>
      a blog by
      <a class={cxs.a} href="https://melaniekat.com" rel="me">melanie kat</a>
      &lt;3
      <br />
      <a class={cxs.a} href="https://nyan.lol/@zicklepop" rel="me">
        @zicklepop@nyan.lol
      </a>
    </p>
  </div>
</footer>
