---
import { cxs } from "@/src/consts/config";
import Icon from "./icon.astro";

const cx = {
	box: "flex items-center justify-between gap-4 pt-12 mt-12 border-solid border-t border-black/10 dark:border-white/25",
	pageCount: "flex items-center",
	navigation: "w-32 flex items-center",
};

const { url = {}, currentPage = "1", lastPage = "1" } = Astro.props.page;
const { prev, next } = url;
---

<div class={cx.box}>
  <div class={cx.navigation}>
    {
      prev && (
        <key-down data-key="h">
          <a
            href={prev}
            class={`${cxs.aIcon} group`}
            title="Newer posts"
            id="prev"
          >
            <Icon type="new" appendClass="group-hover:animate-single-wobble" />{' '}
            Newer
          </a>
        </key-down>
      )
    }
  </div>
  <div class={cx.pageCount}>
    <span>{currentPage} of {lastPage}</span>
  </div>
  <div class={`${cx.navigation} justify-end`}>
    {
      next ? (
        <key-down data-key="l">
          <a
            href={next}
            class={`${cxs.aIcon} group`}
            title="Older posts"
            id="next"
          >
            Older{' '}
            <Icon type="old" appendClass="group-hover:animate-single-wobble" />
          </a>
        </key-down>
      ) : (
        ''
      )
    }
  </div>
</div>
