---
import { baseUrl, cxs } from "@/src/consts/config";
import Icon from "./icon.astro";

export interface Props {
	title: string;
	url: string;
}

const { title, url } = Astro.props;
---

<share-btn data-title={title} data-url={`${baseUrl}${url}`}>
  <button class={`${cxs.aIcon} group hidden`} title={`Share this post`}
    ><Icon
      type="share"
      appendClass="group-hover:motion-safe:animate-single-wobble"
    /> Share
  </button>
  <a
    class={`${cxs.aIcon} group`}
    title={`Share this post`}
    href={`https://shareopenly.org/share/?url=${baseUrl + url}&text=${title}`}
    ><Icon
      type="share"
      appendClass="group-hover:motion-safe:animate-single-wobble"
    /> Share
  </a>
</share-btn>
<script>
  class ShareButton extends HTMLElement {
    static tagName = 'share-btn'

    static register(
      tagName = this.tagName,
      registry = globalThis.customElements
    ) {
      registry?.define(tagName, this)
    }

    constructor() {
      super()
      const { title, url } = this.dataset
      const canShare = navigator.share !== undefined
      const button = this.querySelector('button')
      const link = this.querySelector('a')
      if (canShare) {
        link?.classList.toggle('hidden')
        button?.classList.toggle('hidden')
      }
      button?.addEventListener('click', () => {
        navigator.share({
          title,
          url,
        })
      })
    }
  }
  ShareButton.register()
</script>
