---
import Permalink from './permalink.astro'
import Tag from './tag.astro'
import Share from './share.astro'
import { cxs } from '../consts/config'

export interface Props {
  slug: string
  tags: string[]
  title: string
  url: string
}

const cx = {
  container:
    'flex flex-col mt-4 gap-y-2 md:gap-x-5 md:flex-row justify-between',
  li: cxs.li,
  tag: `${cxs.li} md:mr-0 md:ml-2`,
  ul: 'list-none',
}

const { url, slug, tags, title } = Astro.props
---

<div class={cx.container}>
  <ul class={`${cx.ul} shrink-0`}>
    <li class={cx.li}>
      <Permalink url={url} title={title} />
    </li>
    <li class={cx.li}>
      <Share url={url} title={title} />
    </li>
  </ul>
  <ul class={cx.ul}>
    {
      tags.map(tag => (
        <li class={cx.tag}>
          <Tag tag={tag} />
        </li>
      ))
    }
  </ul>
</div>
