---
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import '../styles/global.css'
import {
  baseUrl,
  title as blogTitle,
  description as blogDescription,
} from '../consts/config'

const {
  className = 'font-sans max-w-xl mx-auto px-2',
  cover = '/cover.png',
  description = blogDescription,
  permalink = '',
  title = `${blogTitle} - ${blogDescription}`,
} = Astro.props
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content="melkat, blog" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image:alt" content={title} />
    <meta name="twitter:image" content={`${baseUrl}${cover}`} />
    <meta name="twitter:title" content={title} />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta property="og:description" content={description} />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image" content={`${baseUrl}${cover}`} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${baseUrl}${permalink}`} />
    <meta property="twitter:url" content={`${baseUrl}${permalink}`} />
    <link
      rel="alternate"
      type="application/feed+json"
      title={blogTitle}
      href="/feed.json"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={blogTitle}
      href="/rss.xml"
    />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link
      rel="canonical"
      href={`${baseUrl}${permalink.replace(/\/1$/gi, '')}`}
    />
    <link rel="icon" href="/favicon.ico" />
    <link rel="mask-icon" sizes="any" href="/mask-icon.svg" color="#0caceb" />
  </head>
  <body class={className}>
    <Header />
    <main role="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
